<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Publics/Styles/Styles.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Publics/Images/vm.jpg" />
    <title>Kezdőlap - Varga Máté (BIG Warrior Software) Hivatalos Oldala</title>
</head>
<body class="body">
    <header class="MainHeader">
        <nav>
            <ul>
                <li class="Active">@Html.ActionLink("Kezdőlap","","Home")</li><li>@Html.ActionLink("Curriculum Vitae", "","CurriculumVitae")</li><li>@Html.ActionLink("Kapcsolat","","Contact")</li>
            </ul>
        </nav>
    </header>
    <div class="MainContent">
        <div class="Content">
            <article id="Introduction" class="TopContent">
                @ViewData["Introduction"]
                <img id="Profile" src="~/Publics/Images/vm.jpg"/>
                <aside>
                    <h1>Varga Máté</h1>
                    <p class="">Fő profilom a szoftverfejlesztés</p> 
                    <a href="https://www.facebook.com/BIGWarriorSoftware-280458721993319/"><img class="Link-Image" src="~/Publics/Images/facebook.png" /></a>
                    <a href="https://linkedin.com/in/máté-varga-575109111"><img class="Link-Image" src="~/Publics/Images/linkedin.png" /></a>
                    <a href="https://twitter.com/BIGWarriorSoft"><img class="Link-Image" src="~/Publics/Images/twitter.png" /></a>
                </aside>
            </article>
        </div>
    </div>
    <footer class="MainFooter">
        <p><a href="#">BIG Warrior Software</a> &copy; @DateTime.Now.Year</p>
    </footer>
</body>
</html>
