<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Publics/Styles/Styles.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/Publics/Images/vm.jpg" />
    <title>Referenciák - Varga Máté (BIG Warrior Software) Hivatalos Oldala</title>
</head>
<body class="body">
    <header class="MainHeader">
        <nav>
            <ul>
                <li>@Html.ActionLink("Kezdőlap", "", "Home")</li>
                <li>@Html.ActionLink("Curriculum Vitae", "", "CurriculumVitae")</li>
                <li>@Html.ActionLink("Kapcsolat", "", "Contact")</li>
            </ul>
        </nav>
    </header>
    <div class="MainContent">
        <div class="Content">
            <!--<article class="TopContent">
                <header>
                    <h2><a href="#" title="First Post!">First Post</a></h2>
                </header>
                <footer>
                    <p class="post-info">This post is written by Máté Varga</p>
                </footer>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id quam at sem tempus tincidunt. Morbi ex dui, finibus ut malesuada eget, vestibulum ut urna. Praesent sit amet tellus cursus lacus rhoncus condimentum. Curabitur sed blandit libero. Morbi odio tortor, maximus quis tempor ac, fringilla et velit. Fusce eget vulputate velit, quis auctor lacus. Sed convallis eget justo nec accumsan. Nam est sem, interdum a venenatis in, hendrerit ut ex. Vestibulum eget velit est. Praesent vitae laoreet purus. Pellentesque faucibus ullamcorper risus eu hendrerit. Sed eget tristique quam, at dignissim augue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vehicula libero urna. Phasellus sapien quam, volutpat eu vehicula et, rutrum eu justo. Sed quis eros eget tellus suscipit aliquam. Nullam eu suscipit metus. In porta bibendum tristique. Morbi ipsum erat, tristique nec bibendum a, faucibus vitae turpis. Praesent ac viverra nulla. Sed magna felis, volutpat quis risus vel, imperdiet commodo mauris. Aliquam in dictum mauris. Pellentesque luctus sollicitudin mattis. Curabitur urna turpis, ultrices eu risus eget, gravida interdum lacus. Nulla efficitur ante et iaculis gravida. Maecenas bibendum ex vitae enim lobortis volutpat. Pellentesque vitae rhoncus lorem. Donec lobortis laoreet enim, quis consectetur sem imperdiet eu. Pellentesque bibendum nulla risus, nec feugiat tellus efficitur a. Nam et tortor efficitur, bibendum odio et, scelerisque tellus. Donec vitae luctus ante. Aenean ultricies odio in metus tempor, id eleifend ligula eleifend.</p>
                </content>
            </article>-->
            <article id="introduction" class="TopContent">
                @ViewData["Introduction"]
                <img src="~/Publics/Images/vm.jpg" />
                <aside>
                    <h1>Varga Máté</h1>
                    <p class="IntroText">Fő profilom a szoftverfejlesztés</p>
                    <input type="image" onclick="window.location.href = 'https://www.facebook.com/BIGWarriorSoftware-280458721993319/';" src="~/Publics/Images/facebook.png" />
                    <input type="image" onclick="window.location.href = 'https://linkedin.com/in/máté-varga-575109111';" src="~/Publics/Images/linkedin.png" />
                </aside>
            </article>
        </div>
    </div>
    <footer class="MainFooter">
        <p><a href="#">BIG Warrior Software</a> &copy; @DateTime.Now.Year</p>
    </footer>
</body>
</html>
